.bg-card{
    background-color: #334756;
}

.border-colored{
    border: 1px solid #FF4C29;
}

/* Spin Logo */

.App-logo {
    width: 50px;
    height: 50px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
